.root{
    @media screen and (min-width:768px){
        padding: 1.5remr;
        width: 30rem;
        margin: 0 auto;
        background-color: rgb(247, 30, 30);
        border-radius: 8px;

    }
}